@model ChildJourney.ViewModels.AdminViewModel
@using ChildJourney.Controllers;
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Introduction";
    int count = 0;
    User response = JsonConvert.DeserializeObject<User>(Context.Session.GetString("CurrentUser"));
    foreach (var user in Model.Users)
    {
        if (user.Id == response.Id)
        {
            response = user;
        }
    }
}
<style>
    body {
        background-image: url("/images/tile_background2.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<div class="row">
    <div class="block">
        <h1 class="blurry" style="padding:15px;margin-top:20px">Character Customization!</h1>
    </div>
</div>

<div class="row">
    <div class="block">
        <button class="button" id="1" onclick="menupicker(this.id)">Eyes</button>
    </div>
    <div class="block">
        <button class="button" id="2" onclick="menupicker(this.id)">Mouth</button>
    </div>
    <div class="block">
        <button class="button" id="3" onclick="menupicker(this.id)">Hair</button>
    </div>
    <div class="block">
        <button class="button" id="4" style="background-color:aliceblue" onclick="menupicker(this.id)">Body</button>
    </div>
    <div class="block">
        <button class="button" id="5" onclick="menupicker(this.id)">Hat</button>
    </div>
    <div class="block">
        <button class="button" id="6" onclick="menupicker(this.id)">Shirt</button>
    </div>
    <div class="block">
        <button class="button" id="7" onclick="menupicker(this.id)">Pants</button>
    </div>
    <div class="block">
        <button class="button" id="8" style="background-color:aliceblue" onclick="menupicker(this.id)">Outfit</button>
    </div>
    <div class="block">

        @{
            List<BodyBodyParts> bodycheck = new List<BodyBodyParts>();
            List<Outfit_Clothing> Clothingcheck = new List<Outfit_Clothing>();
            foreach (var item in Model.Body_BodyParts)
            {
                if (response.BodyId == item.BodyId)
                {
                    bodycheck.Add(item);
                }
            }
            foreach (var item in Model.Outfit_Clothings)
            {
                if (response.OutfitId == item.OutfitId)
                {
                    Clothingcheck.Add(item);
                }
            }
            if (Clothingcheck.Count == 3 && bodycheck.Count == 3 && Context.Session.GetString("HomeIsland") == "Active")
            {
                <button class="button" style="background-color:blue"><a style="text-decoration:none; color:white" href="../Game/HomeIsland">Confirm</a></button>
            }
            else if (Clothingcheck.Count == 3 && bodycheck.Count == 3)
            {
                <button class="button" style="background-color:blue"><a style="text-decoration:none; color:white" asp-action="Islandpicking" asp-controller="Game">Confirm</a></button>
            }

         }
    </div>
</div>
<div class="row">
    <div Id="pickwrapper1" class="container-fluid" style="display:none;">
        <div class="row">
            <h1 class="blurry" style="padding:15px;margin:20px 0px">Eyes</h1>
            <div style="height:500px">
                @{count = 0;}
                @foreach (var item in Model.UserBodyPart)
                {
                    if (item.Type == "Eyes" && item.UserId == response.Id)
                        {
                        <div style="display:inline-block ; width:200px ; margin:0 0 30px 0;">
                            @{count = 0;}
                            @foreach (var Object in Model.Body_BodyParts)
                            {
                                if (item.UserId == response.Id && item.BodyPartId == Object.BodyPartId && Object.BodyId == response.BodyId && count == 0)
                                {
                                    count += 1;
                                    <button style="border-color:lightgreen; border-width:10px; background-color:white">
                                        <table class="table" style="width:150px; height:250px;">
                                            <tr>
                                                <td><img src="@item.BodyPart.Image" style="width:100px; height:100px;" align="center" /></td>
                                            </tr>
                                            <tr>
                                                <td><label align="center"> @item.BodyPart.Name @item.Type</label></td>
                                            </tr>
                                            <tr>
                                                <label style="color:green">Selected</label>
                                            </tr>
                                        </table>
                                    </button>
                                }
                            }
                            @if (item.UserId == response.Id && count == 0)
                            {
                            <button onclick="AddToBody('@item.Id')" style="border-color:lightblue; border-width:10px; background-color:white">
                                <table class="table" style="width:150px; height:250px;">
                                    <tr>
                                        <td><img src="@item.BodyPart.Image" style="width:100px; height:100px;" align="center" /></td>
                                    </tr>
                                    <tr>
                                        <td><label align="center"> @item.BodyPart.Name @item.Type</label></td>
                                    </tr>
                                    <tr>
                                        <label></label>
                                    </tr>
                                </table>
                            </button>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div Id="pickwrapper2" class="container-fluid" style="display:none;">
        <div class="row">
            <h1 class="blurry" style="padding:15px;margin:20px 0px">Mouth</h1>
            <div style="height:500px">
                @{count = 0;}
            @foreach (var item in Model.UserBodyPart)
                {
                if (item.Type == "Mouth" && item.UserId == response.Id)
                    {
                        <div style="display:inline-block ; width:200px ; margin:0 0 30px 0;">
                            @{
                                count = 0;
                            }
                            @foreach (var Object in Model.Body_BodyParts)
                            {
                                if (item.UserId == response.Id && item.BodyPartId == Object.BodyPartId && Object.BodyId == response.BodyId && count == 0)
                                {
                                    count += 1;
                                    <button style="border-color:lightgreen; border-width:10px; background-color:white">
                                        <table class="table" style="width:150px; height:250px;">
                                            <tr>
                                                <td><img src="@item.BodyPart.Image" style="width:100px; height:100px;" align="center" /></td>
                                            </tr>
                                            <tr>
                                                <td><label align="center"> @item.BodyPart.Name @item.Type</label></td>
                                            </tr>
                                            <tr>
                                                <label style="color:green">Selected</label>
                                            </tr>
                                        </table>
                                    </button>
                                }
                            }
                            @if (item.UserId == response.Id && count == 0)
                            {
                                <button onclick="AddToBody('@item.Id')" style="border-color:lightblue; border-width:10px; background-color:white">
                                    <table class="table" style="width:150px; height:250px;">
                                        <tr>
                                            <td><img src="@item.BodyPart.Image" style="width:100px; height:100px;" align="center" /></td>
                                        </tr>
                                        <tr>
                                            <td><label align="center"> @item.BodyPart.Name @item.Type</label></td>
                                        </tr>
                                        <tr>
                                            <label></label>
                                        </tr>
                                    </table>
                                </button>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div Id="pickwrapper3" class="container-fluid" style="display:none;">
        <div class="row">
            <h1 class="blurry" style="padding:15px;margin:20px 0px">Hair</h1>
            <div style="height:500px">
                @{count = 0;}
            @foreach (var item in Model.UserBodyPart)
                {
                if (item.Type == "Hair" && item.UserId == response.Id)
                    {
                        <div style="display:inline-block ; width:200px ; margin:0 0 30px 0;">
                            @{
                                count = 0;
                            }
                            @foreach (var Object in Model.Body_BodyParts)
                            {
                                if (item.UserId == response.Id && item.BodyPartId == Object.BodyPartId && Object.BodyId == response.BodyId && count == 0)
                                {
                                    count += 1;
                                    <button style="border-color:lightgreen; border-width:10px; background-color:white">
                                        <table class="table" style="width:150px; height:250px;">
                                            <tr>
                                                <td><img src="@item.BodyPart.Image" style="width:100px; height:100px;" align="center" /></td>
                                            </tr>
                                            <tr>
                                                <td><label align="center"> @item.BodyPart.Name @item.Type</label></td>
                                            </tr>
                                            <tr>
                                                <label style="color:green">Selected</label>
                                            </tr>
                                        </table>
                                    </button>
                                }
                            }
                            @if (item.UserId == response.Id && count == 0)
                            {
                                <button onclick="AddToBody('@item.Id')" style="border-color:lightblue; border-width:10px; background-color:white">
                                    <table class="table" style="width:150px; height:250px;">
                                        <tr>
                                            <td><img src="@item.BodyPart.Image" style="width:100px; height:100px;" align="center" /></td>
                                        </tr>
                                        <tr>
                                            <td><label align="center"> @item.BodyPart.Name @item.Type</label></td>
                                        </tr>
                                        <tr>
                                            <label></label>
                                        </tr>
                                    </table>
                                </button>
                            }
                        </div>
                        }
                    }
            </div>
        </div>
    </div>
    <div Id="pickwrapper4" class="container-fluid" style="display:none;">
        <div class="row">
            <h1 class="blurry" style="padding:15px;margin:20px 0px">@bodycheck.Count() out of 3 selected!</h1>
            <div style="height:500px">
                @foreach (var item in Model.Body_BodyParts)
                {
                    if (response.BodyId != null)
                    {
                        if (item.BodyId == response.BodyId)
                        {
                            <button style="border-color:lightgreen; border-width:10px; background-color:white">
                                <table class="table" style="width:150px; height:250px;">
                                    <tr>
                                        <td><img src="@item.BodyPart.Image" style="width:100px; height:100px;" align="center" /></td>
                                    </tr>
                                    <tr>
                                        <td><label align="center"> @item.BodyPart.Name @item.BodyPart.Type</label></td>
                                    </tr>
                                </table>
                            </button>
                        }
                    }
                }
            </div>
        </div>
    </div>
    <div Id="pickwrapper5" class="container-fluid" style="display:none;">
        <div class="row">
            <h1 class="blurry" style="padding:15px;margin:20px 0px">Hats</h1>
            <div style="height:500px">
                    @{count = 0;}
                @foreach (var item in Model.UserClothing)
                {
                    if (item.Type == "Hat" && item.UserId == response.Id)
                    {
                        <div style="display:inline-block ; width:200px ; margin:0 0 30px 0;">
                            @{
                                count = 0;
                            }
                            @foreach (var Object in Model.Outfit_Clothings)
                            {
                                if (item.UserId == response.Id && item.ClothingId == Object.ClothingId && Object.OutfitId == response.OutfitId && count == 0)
                                {
                                    count += 1;
                                    <button style="border-color:lightgreen; border-width:10px; background-color:white">
                                        <table class="table" style="width:150px; height:250px;">
                                            <tr>
                                                <td><img src="@item.Clothing.Image" style="width:100px; height:100px;" align="center" /></td>
                                            </tr>
                                            <tr>
                                                <td><label align="center"> @item.Clothing.Name @item.Type</label></td>
                                            </tr>
                                            <tr>
                                                <label style="color:green">Selected</label>
                                            </tr>
                                        </table>
                                    </button>
                                }
                            }
                            @if (item.UserId == response.Id && count == 0)
                            {
                                <button onclick="AddToOutfit('@item.Id')" style="border-color:lightblue; border-width:10px; background-color:white">
                                    <table class="table" style="width:150px; height:250px;">
                                        <tr>
                                            <td><img src="@item.Clothing.Image" style="width:100px; height:100px;" align="center" /></td>
                                        </tr>
                                        <tr>
                                            <td><label align="center"> @item.Clothing.Name @item.Type</label></td>
                                        </tr>
                                        <tr>
                                            <label></label>
                                        </tr>
                                    </table>
                                </button>
                            }
                        </div>
                        
                    }
                }
            </div>
        </div>
    </div>
    <div Id="pickwrapper6" class="container-fluid" style="display:none;">
        <div class="row">
            <h1 class="blurry" style="padding:15px;margin:20px 0px">Shirts</h1>
            <div style="height:500px">
                    @{count = 0;}
                @foreach (var item in Model.UserClothing)
                {
                    if (item.Type == "Shirt" && item.UserId == response.Id)
                        {
                            <div style="display:inline-block ; width:200px ; margin:0 0 30px 0;">
                                @{
                                    count = 0;
                                }
                                @foreach (var Object in Model.Outfit_Clothings)
                                {
                                    if (item.UserId == response.Id && item.ClothingId == Object.ClothingId && Object.OutfitId == response.OutfitId && count == 0)
                                    {
                                        count += 1;
                                        <button style="border-color:lightgreen; border-width:10px; background-color:white">
                                            <table class="table" style="width:150px; height:250px;">
                                                <tr>
                                                    <td><img src="@item.Clothing.Image" style="width:100px; height:100px;" align="center" /></td>
                                                </tr>
                                                <tr>
                                                    <td><label align="center"> @item.Clothing.Name @item.Type</label></td>
                                                </tr>
                                                <tr>
                                                    <label style="color:green">Selected</label>
                                                </tr>
                                            </table>
                                        </button>
                                    }
                                }
                                @if (item.UserId == response.Id && count == 0)
                                {
                                <button onclick="AddToOutfit('@item.Id')" style="border-color:lightblue; border-width:10px; background-color:white">
                                        <table class="table" style="width:150px; height:250px;">
                                            <tr>
                                                <td><img src="@item.Clothing.Image" style="width:100px; height:100px;" align="center" /></td>
                                            </tr>
                                            <tr>
                                                <td><label align="center"> @item.Clothing.Name @item.Type</label></td>
                                            </tr>
                                            <tr>
                                                <label></label>
                                            </tr>
                                        </table>
                                    </button>
                                }
                            </div>
                    }
                }
            </div>
        </div>
    </div>
    <div Id="pickwrapper7" class="container-fluid" style="display:none;">
        <div class="row">
            <h1 class="blurry" style="padding:15px;margin:20px 0px">Pants</h1>
            <div style="height:500px">
                    @{count = 0;}
                @foreach (var item in Model.UserClothing)
                {
                if (item.Type == "Pants" && item.UserId == response.Id)
                    {
                            <div style="display:inline-block ; width:200px ; margin:0 0 30px 0;">
                                @{
                                    count = 0;
                                }
                                @foreach (var Object in Model.Outfit_Clothings)
                                {
                                    if (item.UserId == response.Id && item.ClothingId == Object.ClothingId && Object.OutfitId == response.OutfitId && count == 0)
                                    {
                                        count += 1;
                                        <button style="border-color:lightgreen; border-width:10px; background-color:white">
                                            <table class="table" style="width:150px; height:250px;">
                                                <tr>
                                                    <td><img src="@item.Clothing.Image" style="width:100px; height:100px;" align="center" /></td>
                                                </tr>
                                                <tr>
                                                    <td><label align="center"> @item.Clothing.Name @item.Type</label></td>
                                                </tr>
                                                <tr>
                                                    <label style="color:green">Selected</label>
                                                </tr>
                                            </table>
                                        </button>
                                    }
                                }
                                @if (item.UserId == response.Id && count == 0)
                                {
                                    <button onclick="AddToOutfit('@item.Id')" style="border-color:lightblue; border-width:10px; background-color:white">
                                        <table class="table" style="width:150px; height:250px;">
                                            <tr>
                                                <td><img src="@item.Clothing.Image" style="width:100px; height:100px;" align="center" /></td>
                                            </tr>
                                            <tr>
                                                <td><label align="center"> @item.Clothing.Name @item.Type</label></td>
                                            </tr>
                                            <tr>
                                                <label></label>
                                            </tr>
                                        </table>
                                    </button>
                                }
                            </div>
                    }
                }
            </div>
        </div>
    </div>
    <div Id="pickwrapper8" class="container-fluid" style="display:none;">
        <div class="row">
            <h1 class="blurry" style="padding:15px;margin:20px 0px">@Clothingcheck.Count() out of 3 selected!</h1>
            <div style="height:500px">
                @foreach (var item in Model.Outfit_Clothings)
                {
                    if (response.OutfitId != null)
                    {
                        if (item.OutfitId == response.OutfitId)
                        {
                            <button style="border-color:lightgreen; border-width:10px; background-color:white">
                                <table class="table" style="width:150px; height:250px;">
                                    <tr>
                                        <td><img src="@item.Clothing.Image" style="width:100px; height:100px;" align="center" /></td>
                                    </tr>
                                    <tr>
                                        <td><label align="center"> @item.Clothing.Name @item.Clothing.Type</label></td>
                                    </tr>
                                </table>
                            </button>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>

<script>
    function menupicker(ButtonId) {
        document.getElementById("pickwrapper1").style.display = "none";
        document.getElementById("pickwrapper2").style.display = "none";
        document.getElementById("pickwrapper3").style.display = "none";
        document.getElementById("pickwrapper4").style.display = "none";
        document.getElementById("pickwrapper5").style.display = "none";
        document.getElementById("pickwrapper6").style.display = "none";
        document.getElementById("pickwrapper7").style.display = "none";
        document.getElementById("pickwrapper8").style.display = "none";
        document.getElementById("pickwrapper" + ButtonId).style.display = "block";
    }     
</script>
