@model ChildJourney.ViewModels.AdminViewModel
@using Newtonsoft.Json
@{
    ViewData["Title"] = "HomeIsland";
    Context.Session.SetString("HomeIsland", "Active");
    User user = null;
    bool PrintMoodpicker = true;
    int Result;
    foreach(var User in Model.Users)
    {
        if (User.Id == Model.User.Id)
        {
            user = User;
        }
    }
    using (var client = new HttpClient())
    {
        try
        {
            var result = client.GetAsync("https://google.com", HttpCompletionOption.ResponseHeadersRead).Result;
            Result = result.Headers.Date.Value.Day;
        }
        catch
        {
            Result = DateTime.Today.Day;
        }
    }
    foreach (var Mood in Model.Moods)
        {
            if (Mood.Day == Result && Mood.UserId == user.Id)
            {
                PrintMoodpicker = false;
            }
        }
}

<style>
    .container {
        position: relative;
    }

    .house {
        position: relative;
        width: 100px;
        margin: 100px auto;
        transform-style: preserve-3d;
        transform: rotateX(-40deg) rotateY(45deg);
    }
    .store {
        position: absolute;
        top: 100px;
        width: 100px;
        margin: 100px auto;
        transform-style: preserve-3d;
        transform: rotateX(-40deg) rotateY(45deg);
    }
    .face {
        position: absolute;
        width: 100px;
        height: 100px;
        background: #8c6b5c;
        border: 1px solid #614537;
    }
    .door {
        position: absolute;
        width: 30px;
        height: 70px;
        background: lightblue;
        border: 1px solid #614537;
    }
</style>

<style>
    html,body {
        margin: 0;
        min-height: 100%;
        width: 100%;
    }
</style>

@if (PrintMoodpicker == true)
{
    <div class="button" style="position:fixed;bottom:10px;">
        <label>How are you feeling today?</label>
        <select style="border-radius: 15px; background-color: rgba(255, 255, 255, 0.5); padding:5px;" onchange="AddMood(this.value, @Model.User.Id, @Result)">
            <option value="Very Sad">Very Sad</option>
            <option value="Sad">Sad</option>
            <option value="Okay">Okay</option>
            <option value="Happy">Happy</option>
            <option value="Very Happy">Very Happy</option>
        </select>
    </div>
}
<body style="background-color: @Model.CurrentIsland.PrimaryColor;">
    <a asp-action="TimedRewards" asp-controller="Game" class="button" style="position:fixed;left:10px; top:10px">Rewards</a>
    <a asp-action="IslandPicking" asp-controller="Game" class="button" style="position:fixed;left:110px; top:10px">Islands</a>
    <a asp-action="Inventory" asp-controller="Game" class="button" style="position:fixed;left:10px; bottom:10px;">Inventory</a>
    <a asp-action="BoatSteering" asp-controller="MiniGames" class="button" style="position:fixed;right:10px; bottom:10px;">BoatSteering</a>
    <a asp-action="BirdFlying" asp-controller="MiniGames" class="button" style="position:fixed;right:10px; bottom:70px;">BirdFlying</a>
    <div style="position:fixed;right:10px; top:10px">
        <div class="button">
            <H5><img src="/images/Coin.png" style="width:20px; height:20px" /> @user.Coins </H5>
            <label> @user.SeasonPoints SeasonPoints</label>
        </div>
        <div class="button" style="margin-top:10px">
            <label>@user.DailyStreak /3 Daily rewards claimed!</label>
        </div>
    </div>
    
    <div class="container">
        <div class="house">
            <a asp-action="Character" asp-controller="Game" style="background-color:white ;border:solid; color: black; text-decoration: none">Home</a>
            <div class="face" style="transform: translateZ(50px)"></div>
            <div class="door" style="transform: translateX(-16px) rotateY(-90deg) translateY(29px);"></div>
            <div class="face" style="transform: translateX(-50px) rotateY(-90deg)"></div>
            <div class="face" style="transform: translateY(-50px) rotateX(90deg)"></div>
        </div>

        <div class="store">
            <a asp-action="StoreBodyPart" asp-controller="Game" style="background-color:white ;border:solid; color: black; text-decoration: none">Store</a>
            <div class="face" style="transform: translateZ(50px)"></div>
            <div class="door" style="transform: translateY(20px) rotateY(180deg) translateX(-29px) translateZ(-58px);"></div>
            <div class="face" style="transform: translateX(-50px) rotateY(-90deg)"></div>
            <div class="face" style="transform: translateY(-50px) rotateX(90deg)"></div>
        </div>
    </div>
</body>
    