@model ChildJourney.ViewModels.AdminViewModel
@using ChildJourney.Controllers;
@using Newtonsoft.Json
@{
    var count = 0;
    ViewData["Title"] = "Introduction";
    User response = JsonConvert.DeserializeObject<User>(Context.Session.GetString("CurrentUser"));
    foreach (var user in Model.Users)
    {
        if (user.Id == response.Id)
        {
            response = user;
        }
    }
}
<style>
    body {
        background-image: url("/images/tile_background3.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .scrollable-content::-webkit-scrollbar {
        display: none;
    }
</style>

<div class="button" style="position:absolute;right:10px; top:10px">
    <H5><img src="/images/Coin.png" style="width:20px; height:20px" /> @response.Coins </H5>
    <label> @response.SeasonPoints SeasonPoints</label>
</div>

<div class="row">
    <div class="block">
        <h1 class="blurry" style="padding:15px;margin-top:20px">Store!</h1>
    </div>
</div>

<div class="row">
    <div class="block">
        <button class="button">BodyParts</button>
    </div>
    <div class="block">
        <button class="button"><a asp-action="StoreClothing" asp-controller="Game">Clothing</a></button>
    </div>
    <div class="block">
        <button class="button"><a asp-action="StoreDecorations" asp-controller="Game">Decorations</a></button>
    </div>
    <div class="block">
        <button class="button"><a asp-action="StoreIslands" asp-controller="Game">Islands</a></button>
    </div>
    <div class="block">
        @{
            if (Context.Session.GetString("HomeIsland") == "Active")
            {
                <button class="button" style="background-color:lawngreen"><a href="../Game/HomeIsland">Back to Island!</a></button>
            }
            else
            {
                <button class="button" style="background-color:lawngreen"><a href="../Game/HomeIsland">Back to Island!</a></button>
            }
        }
    </div>
</div>

<div>
    <div class="block">
        <button class="button" id="1" onclick="menupicker(this.id)">Eyes</button>
    </div>
    <div class="block">
        <button class="button" id="2" onclick="menupicker(this.id)">Mouth</butto>
    </div>
    <div class="block">
        <button class="button" id="3" onclick="menupicker(this.id)">Hair</butto>
    </div>
</div>

<div class="row">
<div Id="pickwrapper1" class="container-fluid">
    <div class="row">
        <h1 class="blurry" style="padding:15px;margin:20px 0px">Eyes</h1>
        <div class="blurry">
        <div class="scrollable-content" style="height:650px">
            @foreach (var item in Model.bodyParts)
            {
                count = 0;
                if (item.Type == "Eyes")
                {
                    <div style="display:inline-block ; width:200px ; margin:0 0 30px 0;">
                        @foreach (var Object in Model.UserBodyPart)
                        {
                            if (Object.BodyPartId == item.Id && Object.UserId == response.Id && count == 0)
                            {
                                count += 1;
                                <button style="border-color:lightgreen; border-width:10px; background-color:white">
                                    <table class="table" style="width:150px; height:250px;">
                                        <tr>
                                            <td><img src="@item.Image" style="width:100px; height:100px;" align="center" /></td>
                                        </tr>
                                        <tr>
                                            <td><label align="center"> @item.Name @item.Type</label></td>
                                        </tr>
                                        <tr>
                                            <td><label style="color:green">Owned</label></td>
                                        </tr>
                                    </table>
                                </button>
                            }
                        }
                        @foreach (var Object in Model.UserBodyPart)
                        {
                            if (Object.UserId == response.Id && Object.BodyPartId != item.Id && count == 0)
                            {
                                count += 1;
                                <button onclick="BuyBodyPart('@item.Id')" style="border-color:yellow; border-width:10px; background-color:white">
                                    <table class="table" style="width:150px; height:250px;">
                                        <tr>
                                            <td><img src="@item.Image" style="width:100px; height:100px;" align="center" /></td>
                                        </tr>
                                        <tr>
                                            <td><label align="center"> @item.Name @item.Type</label></td>
                                        </tr>
                                        <tr>
                                            <td><label>@item.Price Coins</label></td>
                                        </tr>
                                    </table>
                                </button>
                            }
                        }
                    </div>
                }}
        </div>
        </div>
    </div>
</div>
<div Id="pickwrapper2" class="container-fluid" style="display:none;">
    <div class="row">
        <h1 class="blurry" style="padding:15px;margin:20px 0px">Mouths</h1>
        <div class="blurry">
        <div class="scrollable-content" style="height:650px">
            @foreach (var item in Model.bodyParts)
            {
                count = 0;
                if (item.Type == "Mouth")
                {
                        <div style="display:inline-block ; width:200px ; margin:0 0 30px 0;">
                            @foreach (var Object in Model.UserBodyPart)
                            {
                                if (Object.BodyPartId == item.Id && Object.UserId == response.Id && count == 0)
                                {
                                    count += 1;
                                    <button style="border-color:lightgreen; border-width:10px; background-color:white">
                                        <table class="table" style="width:150px; height:250px;">
                                            <tr>
                                                <td><img src="@item.Image" style="width:100px; height:100px;" align="center" /></td>
                                            </tr>
                                            <tr>
                                                <td><label align="center"> @item.Name @item.Type</label></td>
                                            </tr>
                                            <tr>
                                                <td><label style="color:green">Owned</label></td>
                                            </tr>
                                        </table>
                                    </button>
                                }
                            }
                            @foreach (var Object in Model.UserBodyPart)
                            {
                                if (Object.UserId == response.Id && Object.BodyPartId != item.Id && count == 0)
                                {
                                    count += 1;
                                    <button onclick="BuyBodyPart('@item.Id')" style="border-color:yellow; border-width:10px; background-color:white">
                                        <table class="table" style="width:150px; height:250px;">
                                            <tr>
                                                <td><img src="@item.Image" style="width:100px; height:100px;" align="center" /></td>
                                            </tr>
                                            <tr>
                                                <td><label align="center"> @item.Name @item.Type</label></td>
                                            </tr>
                                            <tr>
                                                <td><label>@item.Price Coins</label></td>
                                            </tr>
                                        </table>
                                    </button>
                                }
                            }

                        </div>
                }
            }
        </div>
    </div>
    </div>
</div>
<div Id="pickwrapper3" class="container-fluid" style="display:none;">
    <div class="row">
        <h1 class="blurry" style="padding:15px;margin:20px 0px">Hair</h1>
        <div class="blurry">
        <div class="scrollable-content" style="height:650px">
            @foreach (var item in Model.bodyParts)
            {
                count = 0;
                if (item.Type == "Hair")
                {
                        <div style="display:inline-block ; width:200px ; margin:0 0 30px 0;">
                            @foreach (var Object in Model.UserBodyPart)
                            {
                                if (Object.BodyPartId == item.Id && Object.UserId == response.Id && count == 0)
                                {
                                    count += 1;
                                    <button style="border-color:lightgreen; border-width:10px; background-color:white">
                                        <table class="table" style="width:150px; height:250px;">
                                            <tr>
                                                <td><img src="@item.Image" style="width:100px; height:100px;" align="center" /></td>
                                            </tr>
                                            <tr>
                                                <td><label align="center"> @item.Name @item.Type</label></td>
                                            </tr>
                                            <tr>
                                                <td><label style="color:green">Owned</label></td>
                                            </tr>
                                        </table>
                                    </button>
                                }
                            }
                            @foreach (var Object in Model.UserBodyPart)
                            {
                                if (Object.UserId == response.Id && Object.BodyPartId != item.Id && count == 0)
                                {
                                    count += 1;
                                    <button onclick="BuyBodyPart('@item.Id')" style="border-color:yellow; border-width:10px; background-color:white">
                                        <table class="table" style="width:150px; height:250px;">
                                            <tr>
                                                <td><img src="@item.Image" style="width:100px; height:100px;" align="center" /></td>
                                            </tr>
                                            <tr>
                                                <td><label align="center"> @item.Name @item.Type</label></td>
                                            </tr>
                                            <tr>
                                                <td><label>@item.Price Coins</label></td>
                                            </tr>
                                        </table>
                                    </button>
                                }
                            }

                        </div>
                }
            }
        </div>
    </div>
</div>
</div>
</div>

<script>
    function menupicker(ButtonId) {
        document.getElementById("pickwrapper1").style.display = "none";
        document.getElementById("pickwrapper2").style.display = "none";
        document.getElementById("pickwrapper3").style.display = "none";
        document.getElementById("pickwrapper" + ButtonId).style.display = "block";
    }
</script>
