@model ChildJourney.ViewModels.AdminViewModel
@using ChildJourney.Controllers;
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Introduction";
    User response = JsonConvert.DeserializeObject<User>(Context.Session.GetString("CurrentUser"));
    foreach (var user in Model.Users)
    {
        if (user.Id == response.Id)
        {
            response = user;
        }
    }
}
<style>
    body {
        background-image: url("");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<div class="row">
    <div class="block">
        <h1>Store</h1>
            @response.Coins Coins
        <button onclick="AddCoins(10)">Add 10 Coins</button>
    </div>
</div>
<div class="row">
    <div class="block">
        @{
            if (Context.Session.GetString("HomeIsland") == "Active")
            {
                <a href="../Game/HomeIsland">Confirm</a>
            }
            else
            {
                <button><a asp-action="Islandpicking" asp-controller="Game">Confirm</a></button>
            }
        }
    </div>
</div>
<div class="row">
    <div class="block">
        <button id="1" onclick="mainmenupicker(this.id)">BodyParts</button>
    </div>
    <div class="block">
        <button id="2" onclick="mainmenupicker(this.id)">Clothing</button>
    </div>
    <div class="block">
        <button id="3">Decorations</button>
    </div>
    <div class="block">
        <button id="4" onclick="mainmenupicker(this.id)">Unlock new Islands</button>
    </div>
</div>

<div id="mainmenupicker1">
    <div class="block">
        <button id="1" onclick="menupicker(this.id)">Eyes</button>
    </div>
    <div class="block">
        <button id="2" onclick="menupicker(this.id)">Mouth</button>
    </div>
    <div class="block">
        <button id="3" onclick="menupicker(this.id)">Hair</button>
    </div>
</div>

<div id="mainmenupicker2" style="display:none;">
    <div class="block">
        <button id="4" onclick="menupicker(this.id)">Hat</button>
    </div>
    <div class="block">
        <button id="5" onclick="menupicker(this.id)">Shirt</button>
    </div>
    <div class="block">
        <button id="6" onclick="menupicker(this.id)">Pants</button>
    </div>
</div>

<div id="mainmenupicker4" style="display:none;">
    @foreach (var item in Model.Islands)
    {
        var count = 0;
        <div style="display:inline-block ; width:130px ; margin:0 0 30px 0; background-color:white">
            <button onclick="BuyIsland('@item.Id')">
                <table class="table">
                    <tr>
                        <td><img src="@item.Image" style="width:100px; height:100px;" align="center" /></td>
                    </tr>
                    <tr>
                        <td><label align="center"> @item.Name Island</label></td>
                    </tr>
                    <tr>
                        @foreach (var Object in Model.User_Island)
                        {
                            if (Object.UserId == response.Id && Object.IslandId == item.Id && count == 0)
                            {
                                count += 1;
                                <label style="color:green">Owned</label>
                            }
                        }
                        @foreach (var Object in Model.User_Island)
                        {
                            if (Object.UserId != response.Id && Object.IslandId == item.Id && count == 0)
                            {
                                count += 1;
                                <label>@item.Price Coins</label>
                            }
                        }
                    </tr>
                </table>
            </button>
        </div>
    }
</div>

<div class="row">
<div Id="pickwrapper1" class="container-fluid" style="display:none;">
    <div class="row">
        <div class="inner" style="border-radius: 25px; border-color:lightgray">
            <label id="Dwindow">Hello there @response.Name, Are you new here?1</label>
        </div>
        <div style="height:500px">
            @foreach (var item in Model.bodyParts)
            {
                var count = 0;
                if (item.Type == "Eyes")
                {
                    <div style="display:inline-block ; width:130px ; margin:0 0 30px 0; background-color:white">
                        <button onclick="BuyBodyPart('@item.Id')">
                            <table class="table">
                                <tr>
                                    <td><img src="@item.Image" style="width:100px; height:100px;" align="center" /></td>
                                </tr>
                                <tr>
                                    <td><label align="center"> @item.Name @item.Type</label></td>
                                </tr>
                                <tr>
                                    @foreach (var Object in Model.UserBodyPart)
                                    {
                                        if (Object.UserId == response.Id && Object.BodyPartId == item.Id && count == 0)
                                        {
                                            count += 1;
                                            <label style="color:green">Owned</label>
                                        }
                                    }
                                    @foreach (var Object in Model.UserBodyPart)
                                    {
                                        if (Object.UserId != response.Id && Object.BodyPartId == item.Id && count == 0)
                                        {
                                            count += 1;
                                            <label>@item.Price Coins</label>
                                        }
                                    }
                                </tr>
                            </table>
                        </button>
                    </div>
                }
            }
        </div>
    </div>
</div>
<div Id="pickwrapper2" class="container-fluid" style="display:none;">
    <div class="row">
        <div class="inner" style="border-radius: 25px; border-color:lightgray">
            <label id="Dwindow">Hello there @response.Name, Are you new here?2</label>
        </div>
        <div style="height:500px">
            @foreach (var item in Model.bodyParts)
            {
                var count = 0;
                if (item.Type == "Mouth")
                {
                <div style="display:inline-block ; width:130px ; margin:0 0 30px 0; background-color:white">
                    <button onclick="BuyBodyPart('@item.Id')">
                        <table class="table">
                            <tr>
                                <td><img src="@item.Image" style="width:100px; height:100px;" align="center" /></td>
                            </tr>
                            <tr>
                                <td><label align="center"> @item.Name @item.Type</label></td>
                            </tr>
                            <tr>
                                @foreach (var Object in Model.UserBodyPart)
                                {
                                    if (Object.UserId == response.Id && Object.BodyPartId == item.Id && count == 0)
                                    {
                                        count += 1;
                                        <label style="color:green">Owned</label>
                                    }
                                }
                                @foreach (var Object in Model.UserBodyPart)
                                {
                                    if (Object.UserId != response.Id && Object.BodyPartId == item.Id && count == 0)
                                    {
                                        count += 1;
                                        <label>@item.Price Coins</label>
                                    }
                                }
                            </tr>
                        </table>
                    </button>
                </div>
                }
            }
        </div>
    </div>
</div>
<div Id="pickwrapper3" class="container-fluid" style="display:none;">
    <div class="row">
        <div class="inner" style="border-radius: 25px; border-color:lightgray">
            <label id="Dwindow">Hello there @response.Name, Are you new here?3</label>
        </div>
        <div style="height:500px">
            @foreach (var item in Model.bodyParts)
            {
                var count = 0;
                if (item.Type == "Hair")
                {
                <div style="display:inline-block ; width:130px ; margin:0 0 30px 0; background-color:white">
                    <button onclick="BuyBodyPart('@item.Id')">
                        <table class="table">
                            <tr>
                                <td><img src="@item.Image" style="width:100px; height:100px;" align="center" /></td>
                            </tr>
                            <tr>
                                <td><label align="center"> @item.Name @item.Type</label></td>
                            </tr>
                            <tr>
                                @foreach (var Object in Model.UserBodyPart)
                                {
                                    if (Object.UserId == response.Id && Object.BodyPartId == item.Id && count == 0)
                                    {
                                        count += 1;
                                        <label style="color:green">Owned</label>
                                    }
                                }
                                @foreach (var Object in Model.UserBodyPart)
                                {
                                    if (Object.UserId != response.Id && Object.BodyPartId == item.Id && count == 0)
                                    {
                                        count += 1;
                                        <label>@item.Price Coins</label>
                                    }
                                }
                            </tr>
                        </table>
                    </button>
                </div>
                }
            }
        </div>
    </div>
</div>
<div Id="pickwrapper4" class="container-fluid" style="display:none;">
    <div class="row">
        <div class="inner" style="border-radius: 25px; border-color:lightgray">
            <label id="Dwindow">Hello there @response.Name, Are you new here?5</label>
        </div>
        <div style="height:500px">
            @foreach (var item in Model.clothing)
            {
                var count = 0;
                if (item.Type == "Hat")
                {
                <div style="display:inline-block ; width:130px ; margin:0 0 30px 0; background-color:white">
                    <button onclick="BuyClothing('@item.Id')">
                        <table class="table">
                            <tr>
                                <td><img src="@item.Image" style="width:100px; height:100px;" align="center" /></td>
                            </tr>
                            <tr>
                                <td><label align="center"> @item.Name @item.Type</label></td>
                            </tr>
                            <tr>
                                @foreach (var Object in Model.UserClothing)
                                {
                                    if (Object.UserId == response.Id && Object.ClothingId == item.Id && count == 0)
                                    {
                                        count += 1;
                                        <label style="color:green">Owned</label>
                                    }
                                }
                                @foreach (var Object in Model.UserClothing)
                                {
                                    if (Object.UserId != response.Id && Object.ClothingId == item.Id && count == 0)
                                    {
                                        count += 1;
                                        <label>@item.Price Coins</label>
                                    }
                                }
                            </tr>
                        </table>
                    </button>
                </div>
                }
            }
        </div>
    </div>
</div>
<div Id="pickwrapper5" class="container-fluid" style="display:none;">
    <div class="row">
        <div class="inner" style="border-radius: 25px; border-color:lightgray">
            <label id="Dwindow">Hello there @response.Name, Are you new here?6</label>
        </div>
        <div style="height:500px">
            @foreach (var item in Model.clothing)
            {
                var count = 0;
                if (item.Type == "Shirt")
                {
                <div style="display:inline-block ; width:130px ; margin:0 0 30px 0; background-color:white">
                    <button onclick="BuyClothing('@item.Id')">
                        <table class="table">
                            <tr>
                                <td><img src="@item.Image" style="width:100px; height:100px;" align="center" /></td>
                            </tr>
                            <tr>
                                <td><label align="center"> @item.Name @item.Type</label></td>
                            </tr>
                            <tr>
                                @foreach (var Object in Model.UserClothing)
                                {
                                    if (Object.UserId == response.Id && Object.ClothingId == item.Id && count == 0)
                                    {
                                        count += 1;
                                        <label style="color:green">Owned</label>
                                    }
                                }
                                @foreach (var Object in Model.UserClothing)
                                {
                                    if (Object.UserId != response.Id && Object.ClothingId == item.Id && count == 0)
                                    {
                                        count += 1;
                                        <label>@item.Price Coins</label>
                                    }
                                }
                            </tr>
                        </table>
                    </button>
                </div>
                }
            }
        </div>
    </div>
</div>
<div Id="pickwrapper6" class="container-fluid" style="display:none;">
    <div class="row">
        <div class="inner" style="border-radius: 25px; border-color:lightgray">
            <label id="Dwindow">Hello there @response.Name, Are you new here?7</label>
        </div>
        <div style="height:500px">
            @foreach (var item in Model.clothing)
            {
                var count = 0;
                if (item.Type == "Pants")
                {
                <div style="display:inline-block ; width:130px ; margin:0 0 30px 0; background-color:white">
                    <button onclick="BuyClothing('@item.Id')">
                        <table class="table">
                            <tr>
                                <td><img src="@item.Image" style="width:100px; height:100px;" align="center" /></td>
                            </tr>
                            <tr>
                                <td><label align="center"> @item.Name @item.Type</label></td>
                            </tr>
                                <tr>
                                @foreach (var Object in Model.UserClothing)
                                {
                                    if (Object.UserId == response.Id && Object.ClothingId == item.Id && count == 0)
                                    {
                                        count += 1;
                                        <label style="color:green">Owned</label>
                                    } 
                                }
                                @foreach (var Object in Model.UserClothing)
                                {
                                    if (Object.UserId != response.Id && Object.ClothingId == item.Id && count == 0)
                                    {
                                        count += 1;
                                        <label>@item.Price Coins</label>
                                    }
                                }
                            </tr>
                        </table>
                    </button>
                </div>
                }
            }
        </div>
    </div>
</div>
</div>

<script>
    function menupicker(ButtonId) {
        document.getElementById("pickwrapper1").style.display = "none";
        document.getElementById("pickwrapper2").style.display = "none";
        document.getElementById("pickwrapper3").style.display = "none";
        document.getElementById("pickwrapper4").style.display = "none";
        document.getElementById("pickwrapper5").style.display = "none";
        document.getElementById("pickwrapper6").style.display = "none";
        document.getElementById("pickwrapper" + ButtonId).style.display = "block";
    }
    function mainmenupicker(ButtonId) {
        document.getElementById("mainmenupicker1").style.display = "none";
        document.getElementById("mainmenupicker2").style.display = "none";
        document.getElementById("mainmenupicker4").style.display = "none";
        document.getElementById("mainmenupicker" + ButtonId).style.display = "block";
    }
</script>
